{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}
{% include "navbar.html" %}
    {% for blocks in community %}
    <img src="{{ blocks.community_image.url }}" alt="community image">

   {{blocks.community_description}}
   <a href ="{%url 'singlecommunity' blocks.name %}"> {{blocks.name}}</a>
   <p>{{blocks.members.count}} Member{{blocks.members.count|pluralize}}</p>
    {{blocks.location}}
    <!-- {{blocks.occupants_count}} -->

    {% if request.user.profile.neighbourhood == blocks %}
            <a href="{% url 'leave_community' blocks.id %}" class="btn btn-outline-danger btn-sm">Leave {{blocks.name}} Community</a>
            
            <a href="{%url 'singlecommunity' blocks.name %}" class="btn btn-outline-success btn-sm" style="float: right">Take a Tour in {{blocks.name}}
          </a>
            {% elif not request.user.profile.neighbourhood %}
            <a href="{% url 'join_community' blocks.id %}" class="btn btn-info btn-sm">Join Community</a>
            {% endif %}
            </div>

    {% endfor %}


{%endblock %}
